@model MVC_Calendar.ViewModels.CalendarVM

@{
    ViewBag.Title = "Calendar";
}

<h2>Welcome @Model.UserID</h2>

<div class="container-fluid">
    <table class="grid">
        <tbody>
            <tr>
                <td><div class="weekButton">@Html.ActionLink("prev", "PrevWeek", new { day = Model.FirstDay })</div></td>
                <td><div class="weekDayHeaderLabel">Monday</div></td>
                <td><div class="weekDayHeaderLabel">Tuesday</div></td>
                <td><div class="weekDayHeaderLabel">Wednesday</div></td>
                <td><div class="weekDayHeaderLabel">Thursday</div></td>
                <td><div class="weekDayHeaderLabel">Friday</div></td>
                <td><div class="weekDayHeaderLabel">Saturday</div></td>
                <td><div class="weekDayHeaderLabel">Sunday</div></td>
                <td><div class="weekButton">@Html.ActionLink("prev", "PrevWeek", new { day = Model.FirstDay })</div></td>
            </tr>

            @foreach (var week in Model.Weeks)
            {
                <tr>
                    <td class="gridCell">
                        <div class="weekHeaderLabel">
                            @Html.ValueFor(m => week.Number, "W{0}")
                            <br />
                            @Html.ValueFor(m => week.Year)
                        </div>
                    </td>

                    @foreach (var day in week.Days)
                    {
                        <td class="gridCell">
                            <div>
                                <div class="dayHeader @(day.Date.Equals(Model.Today) ? "todayCell" : "")">
                                    @Html.ValueFor(m => day.DayText)
                                </div>
                                <div class="appointmentList gridCell">
                                    @foreach (var appointment in day.Appointments)
                                    {
                                        <div class="appointmentItem">
                                            @Html.ValueFor(m => appointment.StartTime, "{0:hh\\:mm} - ")
                                            @Html.ValueFor(m => appointment.EndTime, "{0:hh\\:mm}")
                                        </div>
                                    }
                                </div>
                            </div>
                        </td>
                    }
                    <td class="gridCell">
                        <div class="weekDayHeaderLabel">
                            @Html.ValueFor(m => week.Number, "W{0}")
                            <br />
                            @Html.ValueFor(m => week.Year)
                        </div>
                    </td>
                </tr>
            }

            <tr>
                <td><div class="weekButton">@Html.ActionLink("next", "NextWeek", new { day = Model.FirstDay })</div></td>
                <td><div class="weekDayHeaderLabel">Monday</div></td>
                <td><div class="weekDayHeaderLabel">Tuesday</div></td>
                <td><div class="weekDayHeaderLabel">Wednesday</div></td>
                <td><div class="weekDayHeaderLabel">Thursday</div></td>
                <td><div class="weekDayHeaderLabel">Friday</div></td>
                <td><div class="weekDayHeaderLabel">Saturday</div></td>
                <td><div class="weekDayHeaderLabel">Sunday</div></td>
                <td><div class="weekButton">@Html.ActionLink("next", "NextWeek", new { day = Model.FirstDay })</div></td>
            </tr>
        </tbody>
    </table>
</div>
