@model MVC_Calendar.ViewModels.CalendarVM

@{
    ViewBag.Title = "Calendar";
}

<h2>Welcome @Model.UserID</h2>

<table class="calendar">
    <tbody>
        <tr>
            <td class="weekButton">@Html.ActionLink("prev", "PrevWeek", new { day = Model.FirstDay })</td>
            <td class="weekDayHeaderLabel">Monday</td>
            <td class="weekDayHeaderLabel">Tuesday</td>
            <td class="weekDayHeaderLabel">Wednesday</td>
            <td class="weekDayHeaderLabel">Thursday</td>
            <td class="weekDayHeaderLabel">Friday</td>
            <td class="weekDayHeaderLabel">Saturday</td>
            <td class="weekDayHeaderLabel">Sunday</td>
            <td class="weekButton">@Html.ActionLink("prev", "PrevWeek", new { day = Model.FirstDay })</td>
        </tr>

        @foreach (var week in Model.Weeks)
        {
            <tr>
                <td class="weekHeaderLabel">
                    @Html.ValueFor(m => week.Number, "W{0}")
                    <br />
                    @Html.ValueFor(m => week.Year)
                </td>

                @foreach (var day in week.Days)
                {
                    <td class="dayCell @(day.Date.Equals(Model.Today) ? "todayCell" : "")">
                        <div class="dayCellContainer" onclick="location.href='@Url.Action("AddAppointment", "Home", new { day = day.Date})'">
                            <div class="dayHeader">
                                @Html.ValueFor(m => day.DayText)
                            </div>
                            <div class="appointmentsList">
                                @foreach (var appointment in day.Appointments)
                                {
                                    <div class="appointmentItem" onclick="location.href='@Url.Action("EditAppointment", "Home", new { appointmentID = appointment.AppointmentID})'">
                                        @Html.ValueFor(m => appointment.StartTime, "{0:hh\\:mm} - ")
                                        @Html.ValueFor(m => appointment.EndTime, "{0:hh\\:mm}")
                                        @Html.ValueFor(m => appointment.Description)
                                    </div>
                                }
                            </div>
                        </div>
                    </td>
                }
                <td class="weekDayHeaderLabel">
                    @Html.ValueFor(m => week.Number, "W{0}")
                    <br />
                    @Html.ValueFor(m => week.Year)
                </td>
            </tr>
        }

        <tr>
            <td class="weekButton">@Html.ActionLink("next", "NextWeek", new { day = Model.FirstDay })</td>
            <td class="weekDayHeaderLabel">Monday</td>
            <td class="weekDayHeaderLabel">Tuesday</td>
            <td class="weekDayHeaderLabel">Wednesday</td>
            <td class="weekDayHeaderLabel">Thursday</td>
            <td class="weekDayHeaderLabel">Friday</td>
            <td class="weekDayHeaderLabel">Saturday</td>
            <td class="weekDayHeaderLabel">Sunday</td>
            <td class="weekButton">@Html.ActionLink("next", "NextWeek", new { day = Model.FirstDay })</td>
        </tr>
    </tbody>
</table>
